{% extends "layouts/page.njk" %}

{% block content %}

  {# Hero banner #}
  {% include "features/home/_hero.njk" %}

  <div class="govuk-width-container">

    {# About section #}
    {% include "features/home/_about.njk" %}

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    {# Featured prompts #}
    {% include "features/home/_prompt-cards.njk" %}

  </div>

{% endblock %}
